div.navbar {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  background-color: #4472c4;
}

div.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  margin-inline: 1em;
  margin-top: 1em;
  font-size: large;
  color: #3f3d56;
  cursor: pointer;
  height: 1em;
}
