* {
  color: #3f3d56;
}

div.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

input.disabled {
  background-color: grey;
  border: none;
}

input.disabled:hover {
  transform: none;
}
