div.title {
  font-family: 'Odibee Sans', cursive;
  font-size: xx-large;
  width: 100%;
  text-align: center;
}

* {
  color: #3f3d56;
}

input.button {
  background-color: #4472c4;
  border-radius: 10px;
  padding: 0.7em;
  color: white;
  border-color: #4472c4;
}

input.resetable:hover,
input.resetable:focus {
  outline: none;
  border: 1px solid #403b82;
  width: 110%;
}

input {
  transition: width 0.2s ease-out;
}
